version: "3.9"

services:
  fooocus:
    container_name: fooocus
    image: ghcr.io/lllyasviel/fooocus:latest
    ports:
      - "7865:7865"
    volumes:
      - data:/workspace
    environment:
      # força CPU e desativa CUDA
      - CLI_ARGS=--listen --listen-host 0.0.0.0 --disable-gpu
    deploy:
      resources:
        reservations:
          devices: []  # garante que não tenta pegar GPU
    restart: unless-stopped

volumes:
  data:
